* {
	webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.border-right{
	border-right: 1px solid #000000;
}

p, a, h4 {
	font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: normal;
}

/*changing color of form fields to indicate validation result*/
.ng-invalid.ng-touched{
 border-color:red; 
}
.ng-valid.ng-touched{
 border-color: green; 
}

	